.profile__avatar {
    width: 168.75px;
    height: 127.5px;
    margin-left: -22.5px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    }
    
@media screen and (max-width: 1024px) {
    .profile__avatar {
        margin: 0;
    }
}